In [91]:
import pandas as pd

In [92]:
# Reading the csv data file
file_path = "/content/sample_data/train.csv"
data = pd.read_csv(file_path)

In [93]:
data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [94]:
#TASK A
# Looking for the missing values in all the columns
missing_vals = data.isnull().sum()
missing_vals

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [95]:
missing_vars = list(missing_vals[missing_vals > 0].index)
missing_vars

['Mileage', 'Engine', 'Power', 'Seats', 'New_Price']

In [96]:
# Removing columns with more than 50% of missing values
data = data.dropna(thresh=0.5, axis=1)

In [97]:
# Imputing the missing values in remaining columns with the median
impute_vals = data.median(axis=0)
data = data.fillna(impute_vals)

<ipython-input-97-582ae30dbcd3>:2: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  impute_vals = data.median(axis=0)

In [98]:
# Storing the updated Data into Clean data csv file
data.to_csv('/content/clean_data/clean_data.csv', index=False)
data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [99]:
#TASK B
# Reading the clean csv data file
file_path = '/content/clean_data/clean_data.csv'
clean_data = pd.read_csv(file_path)

# Specifing the columns to clean
cols_to_clean = ['Mileage', 'Engine', 'Power', 'New_Price']

# Cleaning each column
for col in cols_to_clean:
    # Removing non-numerical characters
    clean_data[col] = clean_data[col].str.replace('[^\d.]', '')

# Changing the cleaned columns to numeric
clean_data[cols_to_clean] = clean_data[cols_to_clean].apply(pd.to_numeric)

# Storing the updated Data into the numerical_data csv file
clean_data.to_csv('/content/results/numerical_data.csv', index=False)
clean_data

<ipython-input-99-7b3b41f867e2>:12: FutureWarning: The default value of regex will change from True to False in a future version.
  clean_data[col] = clean_data[col].str.replace('[^\d.]', '')

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,8.61,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.40,1248.0,74.00,5.0,7.88,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.40,1120.0,71.00,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.00,2498.0,112.00,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.90,998.0,67.10,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44,936.0,57.60,5.0,NaN,2.50

In [100]:
#TASK C
#Performing one hot encoding
one_hot_encoded_value = pd.get_dummies(clean_data, columns=['Fuel_Type', 'Transmission'])
one_hot_encoded_value.to_csv('/content/results/one_hot_encoded_value.csv', index=False)
one_hot_encoded_value

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,NaN,12.50,1,0,0,0,1
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,8.61,4.50,0,0,1,0,1
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,NaN,6.00,1,0,0,0,1
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,NaN,17.74,1,0,0,1,0
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,NaN,3.50,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248.0,74.00,5.0,7.88,4.75,1,0,0,0,1
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120.0,71.00,5.0,NaN,4.00,1,0,0,0,1
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498.0,112.00,8.0,NaN,2.90,1,0,0,0,1
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998.0,67.10,5.0,NaN,2.65,0,0,1,0,1
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936.0,57.60,5.0,NaN,2.50,1,0,0,0,1

In [101]:
#TASK D
# Printing the current year
current_year = pd.to_datetime('today').year

# Calculating the age of the car
one_hot_encoded_value['Age'] = current_year - one_hot_encoded_value['Year']

# Storing the updated Data into the car_age_data csv file
one_hot_encoded_value.to_csv('/content/results/car_age_data.csv', index=False)
one_hot_encoded_value

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,NaN,12.50,1,0,0,0,1,9
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,8.61,4.50,0,0,1,0,1,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,NaN,6.00,1,0,0,0,1,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,NaN,17.74,1,0,0,1,0,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,NaN,3.50,1,0,0,0,1,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248.0,74.00,5.0,7.88,4.75,1,0,0,0,1,10
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120.0,71.00,5.0,NaN,4.00,1,0,0,0,1,9
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498.0,112.00,8.0,NaN,2.90,1,0,0,0,1,12
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998.0,67.10,5.0,NaN,2.65,0,0,1,0,1,11
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936.0,57.60,5.0,NaN,2.50,1,0,0,0,1,13

In [102]:
#TASK E
# Select operation
select_data = one_hot_encoded_value[['Year' , 'Kilometers_Driven' , 'Owner_Type' , 'New_Price']]
print("Select data:\n", select_data)

Select data:
       Year  Kilometers_Driven Owner_Type  New_Price
0     2015              41000      First        NaN
1     2011              46000      First       8.61
2     2012              87000      First        NaN
3     2013              40670     Second        NaN
4     2013              86999      First        NaN
...    ...                ...        ...        ...
5842  2014              27365      First       7.88
5843  2015             100000      First        NaN
5844  2012              55000     Second        NaN
5845  2013              46000      First        NaN
5846  2011              47000      First        NaN

[5847 rows x 4 columns]

In [103]:
# Filtering rows
filter_data = one_hot_encoded_value[one_hot_encoded_value['Year'] > 2009]
print("Filtered data:\n", filter_data)

Filtered data:
       Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  New_Price  \
0                 41000      First    19.67  1582.0  126.20    5.0        NaN
1                 46000      First    13.00  1199.0   88.70    5.0       8.61
2                 87000      First    20.77  1248.0   88.76    7.0        NaN
3                 40670     Second    15.20  1968.0  140.80    5.0        NaN
4                 86999      First    23.08  1461.0   63.10    5.0        NaN
...                 ...        ...      ...     ...     ...    ...        ...
5842              27365      First    28.40  1248.0   74.00    5.0       7.88
5843             100000      First    24.40  1120.0   71.00    5.0        NaN
5844              55000     Second    14.00  2498.0  112.00    8.0        NaN
5845              46000      First    18.90   998.0   67.10    5.0        NaN
5846              47000      First    25.44   936.0   57.60    5.0        NaN

      Price  Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
0     12.50                 1                   0                 0
1      4.50                 0                   0                 1
2      6.00                 1                   0                 0
3     17.74                 1                   0                 0
4      3.50                 1                   0                 0
...     ...               ...                 ...               ...
5842   4.75                 1                   0                 0
5843   4.00                 1                   0                 0
5844   2.90                 1                   0                 0
5845   2.65                 0                   0                 1
5846   2.50                 1                   0                 0

      Transmission_Automatic  Transmission_Manual  Age
0                          0                    1    9
1                          0                    1   13
2                          0                    1   12
3                          1                    0   11
4                          0                    1   11
...                      ...                  ...  ...
5842                       0                    1   10
5843                       0                    1    9
5844                       0                    1   12
5845                       0                    1   11
5846                       0                    1   13

[5203 rows x 18 columns]

In [104]:
# Renaming columns
rename_data = one_hot_encoded_value.rename(columns={'New_Price': 'Current_Price', 'Power': 'HorsePower'})
print("Renamed data:\n", rename_data)

Renamed data:
       Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Owner_Type  Mileage  Engine  HorsePower  Seats  \
0                 41000      First    19.67  1582.0      126.20    5.0
1                 46000      First    13.00  1199.0       88.70    5.0
2                 87000      First    20.77  1248.0       88.76    7.0
3                 40670     Second    15.20  1968.0      140.80    5.0
4                 86999      First    23.08  1461.0       63.10    5.0
...                 ...        ...      ...     ...         ...    ...
5842              27365      First    28.40  1248.0       74.00    5.0
5843             100000      First    24.40  1120.0       71.00    5.0
5844              55000     Second    14.00  2498.0      112.00    8.0
5845              46000      First    18.90   998.0       67.10    5.0
5846              47000      First    25.44   936.0       57.60    5.0

      Current_Price  Price  Fuel_Type_Diesel  Fuel_Type_Electric  \
0               NaN  12.50                 1                   0
1              8.61   4.50                 0                   0
2               NaN   6.00                 1                   0
3               NaN  17.74                 1                   0
4               NaN   3.50                 1                   0
...             ...    ...               ...                 ...
5842           7.88   4.75                 1                   0
5843            NaN   4.00                 1                   0
5844            NaN   2.90                 1                   0
5845            NaN   2.65                 0                   0
5846            NaN   2.50                 1                   0

      Fuel_Type_Petrol  Transmission_Automatic  Transmission_Manual  Age
0                    0                       0                    1    9
1                    1                       0                    1   13
2                    0                       0                    1   12
3                    0                       1                    0   11
4                    0                       0                    1   11
...                ...                     ...                  ...  ...
5842                 0                       0                    1   10
5843                 0                       0                    1    9
5844                 0                       0                    1   12
5845                 1                       0                    1   11
5846                 0                       0                    1   13

[5847 rows x 18 columns]

In [105]:
# Mutating the data
mutate_data = one_hot_encoded_value.assign(Performance=one_hot_encoded_value['Kilometers_Driven'] / one_hot_encoded_value['Mileage'])
print("Mutated data:\n", mutate_data)

Mutated data:
       Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  New_Price  \
0                 41000      First    19.67  1582.0  126.20    5.0        NaN
1                 46000      First    13.00  1199.0   88.70    5.0       8.61
2                 87000      First    20.77  1248.0   88.76    7.0        NaN
3                 40670     Second    15.20  1968.0  140.80    5.0        NaN
4                 86999      First    23.08  1461.0   63.10    5.0        NaN
...                 ...        ...      ...     ...     ...    ...        ...
5842              27365      First    28.40  1248.0   74.00    5.0       7.88
5843             100000      First    24.40  1120.0   71.00    5.0        NaN
5844              55000     Second    14.00  2498.0  112.00    8.0        NaN
5845              46000      First    18.90   998.0   67.10    5.0        NaN
5846              47000      First    25.44   936.0   57.60    5.0        NaN

      Price  Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
0     12.50                 1                   0                 0
1      4.50                 0                   0                 1
2      6.00                 1                   0                 0
3     17.74                 1                   0                 0
4      3.50                 1                   0                 0
...     ...               ...                 ...               ...
5842   4.75                 1                   0                 0
5843   4.00                 1                   0                 0
5844   2.90                 1                   0                 0
5845   2.65                 0                   0                 1
5846   2.50                 1                   0                 0

      Transmission_Automatic  Transmission_Manual  Age  Performance
0                          0                    1    9  2084.392476
1                          0                    1   13  3538.461538
2                          0                    1   12  4188.733751
3                          1                    0   11  2675.657895
4                          0                    1   11  3769.454073
...                      ...                  ...  ...          ...
5842                       0                    1   10   963.556338
5843                       0                    1    9  4098.360656
5844                       0                    1   12  3928.571429
5845                       0                    1   11  2433.862434
5846                       0                    1   13  1847.484277

[5847 rows x 19 columns]

In [106]:
# Arranging the data
sorted_data = one_hot_encoded_value.sort_values(by='Kilometers_Driven', ascending=True)
print("Arranged data:\n", sorted_data)

Arranged data:
       Unnamed: 0                                    Name   Location  Year  \
1315        1361           Maruti Alto 800 2016-2019 VXI     Mumbai  2019
5451        5606              Maruti Wagon R ZXI AMT 1.2     Mumbai  2019
1203        1242          Jaguar XE 2.0L Diesel Prestige      Delhi  2018
165          173        Hyundai Grand i10 1.2 Kappa Asta    Kolkata  2019
1123        1161             Tata Tigor 1.2 Revotron XTA  Ahmedabad  2018
...          ...                                     ...        ...   ...
2997        3092                    Honda City i VTEC SV    Kolkata  2015
344          358                   Hyundai i10 Magna 1.2    Chennai  2009
1805        1860        Volkswagen Vento Diesel Highline    Chennai  2013
326          340  Skoda Octavia Ambition Plus 2.0 TDI AT    Kolkata  2013
2259        2328               BMW X5 xDrive 30d M Sport    Chennai  2017

      Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  New_Price  \
1315                171      First    24.70   796.0   47.30    5.0        NaN
5451                600      First    21.50  1197.0   81.80    5.0       6.80
1203               1000      First    13.60  1999.0  177.00    5.0      52.77
165                1000      First    18.90  1197.0   81.86    5.0       7.39
1123               1000      First    20.30  1199.0   84.00    5.0        NaN
...                 ...        ...      ...     ...     ...    ...        ...
2997             480000      First    17.40  1497.0  117.30    5.0        NaN
344              620000      First    20.36  1197.0   78.90    5.0        NaN
1805             720000      First    20.54  1598.0  103.60    5.0        NaN
326              775000      First    19.30  1968.0  141.00    5.0        NaN
2259            6500000      First    15.97  2993.0  258.00    5.0        NaN

      Price  Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
1315   3.60                 0                   0                 1
5451   6.25                 0                   0                 1
1203  40.00                 1                   0                 0
165    6.50                 0                   0                 1
1123   6.85                 0                   0                 1
...     ...               ...                 ...               ...
2997   5.00                 0                   0                 1
344    2.70                 0                   0                 1
1805   5.90                 1                   0                 0
326    7.50                 1                   0                 0
2259  65.00                 1                   0                 0

      Transmission_Automatic  Transmission_Manual  Age
1315                       0                    1    5
5451                       1                    0    5
1203                       1                    0    6
165                        0                    1    5
1123                       1                    0    6
...                      ...                  ...  ...
2997                       0                    1    9
344                        0                    1   15
1805                       0                    1   11
326                        1                    0   11
2259                       1                    0    7

[5847 rows x 18 columns]

In [107]:
# Summarizing the data with group by function
grouped_data = one_hot_encoded_value.groupby('Owner_Type').agg({'Mileage': 'median', 'Kilometers_Driven': 'mean'})
print("Summarized data:\n", grouped_data)

Summarized data:
                 Mileage  Kilometers_Driven
Owner_Type
First              18.6       55193.302224
Fourth & Above     13.3      124354.125000
Second             17.0       71175.587027
Third              16.1       88901.252427